form {
    margin-top: 3rem;
}

form input[name='city'],
form input[name='country'] {
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
}

form input:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 2px solid rgb(50, 205, 184) !important;
}

form input
.container::-webkit-input-placeholder {
    color: white !important;
}

.btn {
    border-color: rgb(50, 205, 184) !important;
    border-radius: 40px !important;
    color: white !important;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: rgb(50, 205, 184) !important;
    outline: none !important;
    box-shadow: 0 0 0 .1rem rgb(56, 231, 208) !important;
}